@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700&display=swap");

:root {
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 14px;
}
.main,
.documents,
.esign,
.contacts,
.mentors,
.resources {
  display: none;
}

.main {
  display: flex;
}
body {
  margin: 0;
  width: 100%;
  display: flex;
}
.main__title {
  font-size: 28px;
}

/*sidebar*/
.sidebar__list__link.active {
  background-color: #f0f0f0;
  font-weight: bold;
}

.sidebar {
  background-color: #f4f6f8;
  margin: 0;
  margin-right: 35px;
  height: 1024px;
}

.sidebar__user {
  display: flex;
}

.sidebar__user__image {
  padding-left: 2px;
}

.sidebar__list__image {
  padding-right: 6px;
}

.sidebar__list__text {
  font-size: 16px;
  white-space: nowrap;
  margin: 0;
}

.sidebar__user__name {
  margin: auto auto auto 0;
}
.sidebar__list {
  list-style: none;
  padding: 0;
  padding-left: 10px;
  padding-right: 16px;
  margin: 0;
}

.sidebar__list__item {
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

.sidebar__list__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 8px 16px;
  margin: 2px 0;
}

.sidebar__list__link.active {
  background-color: #e2e6ed;
  border-radius: 8px;
  position: relative;
}

/*main*/

.main_header {
  padding-right: 30px;
}
.info {
  display: flex;
}
.info__list {
  width: 100%;
}
.header__subtitle {
  padding-left: 40px;
}
.user__icon {
  align-self: flex-start;
}
.about {
  height: 1px;
  width: 100%;
  background-color: #e2e6ed;
}
.info__title {
  margin: 0;
}
.info__item {
  width: 100%;
  display: flex;
}

.edit__icon {
  align-self: flex-start;
  margin-left: auto;
}

#aboutTextarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

/* docs */
.docs__img {
  align-self: baseline;
  padding-right: 16px;
}
.docs__notice {
  overflow: hidden;
  background-color: #eef8fe;
  border-radius: 8px;
  margin-bottom: 50px;
}

.docs__attention__img {
  padding-right: 16px;
}
.docs_attention__text {
  margin: 0;
  padding-left: 50px;
  padding-right: 30px;
  padding-bottom: 20px;
}

/* hepl */

.helpers__icon {
  width: 100px;
  height: 100px;
}
.contact__icon {
  margin-right: 15px;
}
